{% extends 'base.html' %}

{% block content %}
    <div class="custom-password-reset-done">
        <i class='bx bx-mail-send custom-icon'></i>
        <h4 style="text-align: center; margin: 0 auto;">PASSWORD RESET SENT</h4>
        
        <p class="custom-header">
            We’ve emailed you instructions for setting your password. If an account exists with the email you entered,
            you should receive them shortly. If you don’t receive an email, please make sure you’ve entered the address
            you registered with, and check your spam folder.
        </p>
        
    </div>

    <style>
        .custom-header{
            text-align: justify; 
            margin: 10px 16rem 0;
        }

        .custom-password-reset-done{
            display: flex;
            flex-direction: column; 
            margin-top: 8rem; 
        }

        .custom-password-reset-done h4{
            font-size: 1.2rem;
            font-weight: bold;
            color: #3B5D50;
            position: relative;
            padding: 0 20px;
            transition: ease .40s;
        }

        .custom-password-reset-done h4::before,
        .custom-password-reset-done h4::after {
            content: ""; 
            position: absolute; 
            top: 50%; 
            width: 120%; 
            height: 2px; 
            background-color: var(--second-color); 
            transition: ease .40s;
        }

        .custom-password-reset-done h4::before {
            left: 0; 
            transform: translateX(-100%);
        }

        .custom-password-reset-done h4::after {
            right: 0; 
            transform: translateX(100%); 
        }

        .custom-icon {
            color: #f9bf29;
            font-size: 4rem;
            text-align: center;
            transition: ease .40s;
        }

        .custom-password-reset-done p{
            text-indent: 40px;
            font-size: 1rem;
            color: #2F2F2F;
            margin-bottom: 20px;
            text-align: justify;
            transition: ease .10s;
        }

        @media only screen and (max-width: 768px) {
            #menu-icon {
                display: none;
            }
            
            .custom-password-reset-done{
                margin-top: 3rem; 
            }

            .custom-icon {
                font-size: 2.5rem;
            }

            .custom-password-reset-done h4 {
                margin: 0;
                font-size: 1rem;
            }

            .custom-password-reset-done h4::before,
            .custom-password-reset-done h4::after {
                width: 45%;
            }

            .custom-password-reset-done p {
                margin: 20px;
                font-size: .8rem;
            }
        }
    </style>
    
{% endblock %}