.extension{
    padding: 3rem 0 0 0;
    text-align: center;
    margin-bottom: 0;
    position: relative;
}

.extension h4{
    color: var(--third-color);
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    position: relative;
    padding: 0 20px;
    margin-bottom: 1rem;
}

.extension h4::before,
.extension h4::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 150%;
    height: 2px;
    background-color: #F9BF29;
    transition: ease .40s;
}

.extension h4::before {
    left: 0;
    transform: translateX(-100%);
}

.extension h4::after {
    right: 0;
    transform: translateX(100%);
}

.extension p {
    color: var(--text-color);
    margin-bottom: 0;
}

.extension span {
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;   
    margin: 0;
}

.columns-wrapper {
    display: flex;
    justify-content: center;
}

.left-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-column-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.left-column-1 p{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 0;
}

label {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: bolder;
    display: block;
    margin-bottom: 10px;
}

.input {
    background: rgba(59, 93, 80, 0.1);
    font: inherit;
    width: 100%;
    padding: 7px 10px;
    border: 1px solid #3B5D50;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: border-color 0.3s ease, opacity 0.3s ease;
}

#timer {
    color: var(--sixth-color);
    font-size: 1.1rem; 
    font-weight: bold; 
    margin-top: 1rem;
    transition: ease .40s;
}

.pay-now-btn{
    color: var(--bg-color);
    cursor: pointer;
    background-color: var(--second-color);
    border: 1px solid;
    border-radius: 18px;
    font-size: var(--text-font);
    font-weight: bolder;
    margin-top: 1rem;
    padding: 8px 20px;
    text-transform: uppercase;
    transition: ease .40s;
}

.pay-now-btn:hover{
    color: var(--second-color);
    transform: scale(1);
    background-color: transparent;
    border: 1px solid #F9BF29;
    cursor: pointer;
}


.left-column-2 {
    width: 70%;
    position: relative;
    border-radius: 25px;
    text-align: justify;
}

.left-column-2 table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.left-column-2 th{
    text-align: center;
    transition: ease .40s;
}

.left-column-2 th, .left-column-2 td {
    border: 1px solid var(--third-color);
    padding: 8px;
    font-size: .9rem;
    transition: ease .40s;
}

.left-column-2 th {
    background-color: var(--third-color);
    color: #fff;
}


form select {
    background: none;
    font: inherit;
    width: 88%;
    padding: 7px 10px;
    border: 1px solid #3B5D50;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: border-color 0.3s ease, opacity 0.3s ease;
}

form select option {
    background: var(--bg-color);
    font: inherit;
    color: var(--text-color);
}

form select:focus {
    outline: none;
    border-color: var(--second-color);
}

form select::-ms-expand {
    display: none; 
}

form select::placeholder {
    font-size: var(--text-font);
    color: var(--text-color);
    transition: opacity 0.5s ease;
    opacity: 0.5;
}

form select:focus::placeholder {
    opacity: 0;
}

a {
    color: white;
}

#cancel{
    color: white;
    background-color: var(--third-color);
    font-size: var(--text-font);
    border: 1px solid;
    border-radius: 18px;
    transition: ease .40s;
    font-weight: bolder;
    cursor: pointer;
    padding: 8px 20px;
}

#cancel:hover{
    color: var(--third-color);
    transform: scale(1);
    background-color: transparent;
    border: 1px solid #3B5D50;
    cursor: pointer;
}

#pay-extension{
    color: var(--bg-color);
    background-color: var(--second-color);
    font-size: var(--text-font);
    border: 1px solid;
    border-radius: 18px;
    transition: ease .40s;
    font-weight: bolder;
    cursor: pointer;
    padding: 8px 20px;
}

#pay-extension:hover {
    color: var(--second-color);
    transform: scale(1);
    background-color: transparent;
    border: 1px solid #F9BF29;
    cursor: pointer;
}

#amount_label {
    margin-top: 2rem;
}

#amount {
    width: 70%;
}

.button-container {
    display: flex;
}

button {
    margin: 0.5rem;
}


/* Media query for screens 768px and below */
@media screen and (max-width: 768px) {
    .extension {
        padding: 2rem 0 0 0; 
    }
  
    .extension h4{
        font-size: 1.1rem;
    }
  
    .extension p{
        font-size: .9rem;
    }

    .container {

    
    }

    .left-column-1{
    
    }

    .input {
        font: var(--responsive-font);
        width: 100%;
        padding: 7px 10px;
    }
    
    #timer {
        font-size: .9rem;
    }

    .left-column-2 table {
        width: 100%;
    }
    
    .left-column-2 th, .left-column-2 td {
        padding: 7px;
        font-size: .8rem;
    }

    label {
        font-size: var(--responsive-font);
    }

    form select {
        width: 125%;
        font-size: .8rem; 
    }
    
    #cancel {
        margin-left: 0rem;
    }
    
    #cancel, 
    #pay-extension,
    .pay-now-btn {
        font-size: .7rem;
        padding: 8px 10px;
    }

    #amount {
        margin-bottom: 0;
    }

    .button-container {
        margin-top: 0;
        display: flex;
    }

    .extension h4::before,
    .extension h4::after {
        width: 90%;
    }


